.CalendarOverview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 5rem;
    height: 80vh;
}

h2.section-header {
    width: fit-content;
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    background-color: black;
    color: gainsboro;
    z-index: 2;
    padding: 5px 200px 5px 10px;
}