.react-multi-carousel-list {
    overflow: hidden;
}

.react-multi-carousel-track {
    display: flex !important;
    flex-direction: row !important; /* Ensure items are laid out in a row */
    gap: 10px !important; /* Space between items */
    padding: 10px 0 !important; /* Padding for visual comfort */
}

.react-multi-carousel-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
    /* Removed transform and width override */
}

.custom-dot-list-style {
  position: absolute;
  bottom: -70%; /* Adjust this value as needed */
  left: 0;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.custom-dot-list-style li {
    display: inline-block;
    margin: 0 4px;
}

.custom-dot-list-style button {
    background-color: #8622b493;
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
    background-color: #f0c91a;
}

.react-multiple-carousel__arrow--left {
    display: none;
    left: 1%;
}

.react-multiple-carousel__arrow--right {
    display: none;
    right: 2%;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;  /* Ensure they appear over the mask */
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.custom-left-arrow {
  left: 10px; /* Adjust as needed */
}

.custom-right-arrow {
  right: 10px; /* Adjust as needed */
}